:root {
    /* VARIAVEL EXEMPLO */
    --flex: flex;
    --center: center;
    --flex-end: flex-end;
    --flex-start: flex-start;
    --space-evenly: space-evenly;
    --space-around: space-around;
    --space-between: space-between;
    --wrap: wrap;
    --nowrap: nowrap;
    --fonte-padrao: 'Raleway', sans-serif;
    --branco: rgb(231, 231, 231);
    --azul: #364C63;
    --azul2: rgb(144, 158, 177);
}

:root {
    font-family: var(--fonte-padrao);
}

html {
    scroll-behavior: smooth;
}


/* QUERY EXEMPLO */

@media only screen and (max-width: 800px) {}