@media only screen and (max-width: 800px) {
    /* FIXES */
    header {
        width: 100%;
        height: 450px;
    }
    nav .container .menu {
        display: none;
    }
    main .section1 .content .container .content-left .imagen-b {
        display: none;
    }
    main .section2 .content .cards {
        flex-wrap: var(--wrap);
        width: 100%;
    }
    main .section1 .squad-top .icons {
        flex-wrap: var(--wrap);
        height: 320px;
        margin-top: 20px;
    }
    main .section1 .squad-top {
        height: 570px;
    }
    main .section1 .squad-top .icons img {
        margin-top: 10px;
        width: 17%;
    }
    header .content .container {
        margin-top: -320px;
    }
    header .content .container span {
        font-size: 35pt;
    }
    main .section1 .squad-top {
        width: 90%;
    }
    main .section1 .content .container {
        flex-wrap: var(--wrap);
    }
    main .section1 .content .container .content-left {
        width: 100%;
    }
    main .section1 .content .container .content-right {
        width: 100%;
        height: 500px;
        margin-top: 50px;
    }
    main .section1 .content .container .content-right .btn-container .btn {
        width: 50%;
        height: 60%;
    }
    main .section2 {
        margin-top: 650px;
    }
    main .section2 .content .cards .card {
        margin-bottom: 30px;
    }
    footer {
        margin-top: 820px;
        height: 100px;
    }
    /* FIXES */
}