main .section1 {
    background-color: #F6F6F6;
    width: 100%;
    height: 630px;
    display: var(--flex);
    justify-content: var(--center);
    flex-wrap: var(--wrap);
}

main .section1 .squad-top {
    width: 80%;
    height: 300px;
    background-color: #fff;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    margin-top: -100px;
    display: var(--flex);
    justify-content: var(--center);
    flex-wrap: var(--wrap);
}

main .section1 .squad-top .title {
    width: 100%;
    height: 80px;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
    color: var(--azul);
    font-size: 16pt;
}

main .section1 .squad-top .text {
    width: 80%;
    height: 80px;
    color: var(--azul);
    font-size: 12pt;
    text-align: center;
}

main .section1 .squad-top .icons {
    width: 80%;
    height: 140px;
    display: var(--flex);
    justify-content: var(--space-around);
    align-items: var(--center);
}

main .section1 .squad-top .icons img {
    margin-top: -40px;
    width: 7%;
    padding: 25px 35px;
    border-radius: 8px;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.03);
    filter: grayscale(100%)
}

main .section1 .content {
    width: 100%;
    height: 300px;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
}

main .section1 .content .container {
    width: 80%;
    height: 100%;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
    flex-wrap: var(--nowrap);
    margin-top: 80px;
    margin-bottom: 50px;
}

main .section1 .content .container .content-left {
    width: 40%;
    height: 100%;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--flex-end);
}

main .section1 .content .container .content-left .imagen {
    width: 280px;
    height: 230px;
    background-image: url("../../../IMG/MAIN/left-content.png");
    background-size: cover;
    z-index: 10;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.08);
}

main .section1 .content .container .content-left .imagen-b {
    background-color: #ccc;
    width: 280px;
    height: 230px;
    top: 917px;
    left: 175px;
    z-index: 1;
    position: absolute;
}

main .section1 .content .container .content-right {
    width: 60%;
    height: 100%;
    background-color: #F6F6F6;
    z-index: 100;
    display: var(--flex);
    justify-content: var(--center);
    flex-wrap: var(--wrap);
}

main .section1 .content .container .content-right .title {
    width: 90%;
    height: 30%;
    display: var(--flex);
    justify-content: var(--flex-start);
    align-items: var(--center);
    color: var(--azul);
    font-size: 16pt;
}

main .section1 .content .container .content-right .text {
    width: 90%;
    height: 50%;
    color: var(--azul2);
    font-size: 11pt;
}

main .section1 .content .container .content-right .btn-container {
    width: 90%;
    height: 15%;
    margin-top: 20px;
}

main .section1 .content .container .content-right .btn-container .btn {
    width: 25%;
    height: 95%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.05);
}

main .section1 .content .container .content-right .btn-container .btn a {
    width: 100%;
    height: 100%;
    display: var(--flex);
    justify-content: var(--center);
    align-items: var(--center);
    text-decoration: none;
    color: var(--azul);
}